{%extends "base.html"%}

{%block main%}
{%if not data%}
<form method="GET" action="">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre</label>
    <input name="100" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Género</label>
    <input name="375" type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Profesión</label>
    <input name="374" type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Nacionalidad</label>
    <input name="377" type="text" class="form-control" id="exampleInputPassword1">
  </div>

    <button type="submit" class="btn btn-dark">Query!</button>
  </form>
{%endif%}
{%if data%}
<div>
  <p>Registros: {{data.length}} - Tiempo: {{data.time}}</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">100</th>
        <th scope="col">375</th>
      </tr>
    </thead>
    <tbody>
      {%for record in data.data%}
      <tr>
        <th>{{record.id}}</th>
        <th>{{record.t_100}}</th>
        <th>{{record.t_375}}</th>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{%endif%}

{%endblock%}