{%extends "base.html"%}

{%block main%}
<div class="container-sm">
    <select name="dataset" id="" class="form-select" >
        <option value="per">Persona</option>
        <option value="geo">Geográfico</option>
    </select>
</div>
<div class="container-sm">
    <div id="filter_container" class="container-sm">
        {%include "filter.html"%}
    </div>
    <button class="btn btn-dark" onclick="add_filter(this)">Add</button>
    <button class="btn btn-dark" onclick="show_filters(this)">Query</button>
</div>
<script defer>
    const add_filter = (button) => {
        const container = document.querySelector("#filter_container");
        container.innerHTML += `{%include "filter.html"%}`;
        // container.appendChild(document.querySelector(".b_filter_group"));
    };
    const show_filters = (button) => {
        const args = {}
        const values = Array(...document.querySelectorAll(".v"));
        const keys = Array(...document.querySelectorAll(".k")).forEach((input, i) => {
            args[input.value] = values.at(i).value
        });
        console.log(args);

    };
</script>
{%endblock%}