{%extends "base.html"%}
{%block head%}
<script src="/static/js/query_builder.js" defer></script>
<script src="/static/js/filter.js" defer></script>
{%endblock%}
{%block main%}
<div action="" method="GET">
<div class="container-sm d-flex flex-row justify-content-between">
    <div style="width: 300px;" >
        <label for="select_dataset" class="d-flex justify-content-center">Conjunto de datos</label>
        <select id="dataset" class="form-select" >
            <option value="geo">Geográfico</option>
            <option value="per">Persona</option>
            <option value="mon">Monografías modernas</option>
        </select>
    </div>
    <div style="width: 300px;">
        <label for="view" class="d-flex justify-content-center">Vista</label>
        <select id="view" class="form-select">
            <option value="human">Simplificada</option>
            <option value="marc">MARC21</option>
            <option value="">Detallada</option>
        </select>
    </div>
    <div style="width: 300px;">
        <label for="limit" class="d-flex justify-content-center">Límite</label>
        <select id="limit" class="form-select">
            <option value="1000" selected>1000</option>
            <option value="10000">10000</option>
            <option value="100000">100000</option>
        </select>
    </div>
</div>
<div class="container-sm">
        <div id="filter_container" class="container-sm">
            <p class="mt-4 d-flex justify-content-center">¡Construye tu propia consulta!</p>
            <p class="d-flex justify-content-center">También puedes realizar las consultas directamente en BNE API, ¿No sabes cómo? ¡Sigue la&nbsp<a href="http://139.162.183.85/api" target="_blank">Documentación</a>!</p>
            {%include "filter.html"%}
        </div>
        
        <button class="btn btn-dark" onclick="add_filter(this)">Agregar filtro</button>
        <button class="btn btn-dark" onclick="show_data()">Mostrar resultados</button>
        <a class="btn btn-dark disabled" onclick="download_json(this)" id="download_button">Descargar</a>
    </div> 
</div>
<div class="container-sm d-flex flex-column justify-content-center mt-5 visually-hidden" id="results_div">
    <h3 class="text-center mb-3" id="results_title"></h3>
    <div class="text-center visually-hidden" id="results_spinner">
    <div class="spinner-grow" role="status"></div>
    </div>
    <div class="overflow-auto" style="height:500px;">
        <table class="table">
            <thead id="results_thead">
            </thead>
            <tbody id="results_tbody">
            </tbody>
        </table>
    </div>
    </div>

    <style>
        #results_thead th {position:sticky; top:0; z-index:1; background-color: white; }
    </style>
{%endblock%}